/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: #6d53ff70;
}

/**
 * DaisyUI-provided "mockup-code" adds space for prefix even when there is no prefix.
 * This conflicts with the way Shiki formats HTML so this is an adjustment for that integration.
 */
.mockup-code pre.shiki:not([data-prefix])::before {
	margin-right: 0;
}
.mockup-code pre.shiki {
	padding: 0.5rem 0.75rem;
}

/** Buttons are hard to see on homepage with default DaisyUI opacity. */
.mockup-code::before {
	opacity: 1;
}

/**
 * Provided from Code Hike
 * https://codehike.org/docs/configuration#copy-button
 */
.ch-codeblock .ch-code-button,
.ch-editor-frame .ch-editor-button {
	display: none;
}
.ch-codeblock:hover .ch-code-button,
.ch-editor-frame:hover .ch-editor-button {
	display: block;
}
