/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: #6d53ff70;
}

/**
 * DaisyUI-provided "mockup-code" adds space for prefix even when there is no prefix.
 * This conflicts with the way Shiki formats HTML so this is an adjustment for that integration.
 */
.mockup-code pre.shiki:not([data-prefix])::before {
	margin-right: 0;
}
.mockup-code pre.shiki {
	padding: 0.5rem 0.75rem;
}

/** Buttons are hard to see on homepage with default DaisyUI opacity. */
.mockup-code::before {
	opacity: 1;
}

/* Make code headings appear nicer in documentation across entire website */
.prose h1:has(code),
.prose h2:has(code),
.prose h3:has(code) {
	background-color: #2D0D6011;
	padding: 0.5rem 0;
	border-radius: 0.35rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.prose :where(h1, h2, h3) + table {
	margin-top: -0.7rem;
	top: -1px;
}
.prose :where(h1, h2, h3) + table th {
	background-color: #2D0D6011;
	border-radius: 0;
}

/**
 * Provided from Code Hike
 * https://codehike.org/docs/configuration#copy-button
 */
.ch-codeblock .ch-code-button,
.ch-editor-frame .ch-editor-button {
	display: none;
}
.ch-codeblock:hover .ch-code-button,
.ch-editor-frame:hover .ch-editor-button {
	display: block;
}

/** Fix mobile styling on Code Hike Spotlight component */
.ch-spotlight {
	flex-direction: column;
}
.ch-spotlight-sticker {
	width: 100%;
}
.ch-spotlight-tab {
	margin: 0;
}
/* Reset Code Hike Spotlight to defaults on large screens */
@media (min-width: theme("screens.xl")) {
	.ch-spotlight-tab {
		margin: 0 -0.5rem;
	}
	.ch-spotlight {
		flex-direction: row;
	}
	.ch-spotlight-sticker {
		/* Override default 420px width since it feels small */
		width: 520px;
	}
}
