# NOTE this is a copy of project root dockerignore, copied because ignored files is relative to each Docker context
# LINK ../../.dockerignore

# Node modules are installed in each container
node_modules
# Parcel cache is specific platform it is built on, leave out of container
.parcel-cache
# TurboRepo cache doesn't need to be sent to a container
.turbo
# Cached status of Task runs doesn't need to be in container
.task
# Distributable files are built in container, don't copy into container from host
dist
