---
interface Props {
	className?: string
}
const { className } = Astro.props
---

<div class:list={["flex", className]}>
	<div class="flex-grow">
		<slot name="before" />
	</div>
	<div class="container">
		<slot />
	</div>
	<div class="flex-grow">
		<slot name="after" />
	</div>
</div>
