<div class="flex flex-col-reverse lg:flex-row gap-4 justify-center items-center text-white my-10">
	<div class="text-centerlg:text-right text-white/70 text-xs drop-shadow-lg max-w-md leading-6">
		<p>
			<strong>
				<a class="link" href="/"> Prim+RPC</a>
			</strong>: a project by
			<a class="link" href="https://doseofted.me/" target="_blank"> Ted Klingenberg</a>
		</p>
		<p>
			Anonymous analytics collected with
			<a class="link" href="https://github.com/electerious/Ackee#readme" target="_blank"> Ackee</a>
		</p>
	</div>
	<a href="https://doseofted.me/" target="_blank">
		<img src="/prim-doseofted-attribution.png" width={361} height={150} alt="Dose of Ted" class="w-32" />
	</a>
</div>
