---
import Prim from "@/components/Prim.astro"

interface Props {
	empty?: boolean
}
const { empty = false } = Astro.props

const navigation = [
	{ link: "/tests/single-element", text: "Navigation" },
	{ link: "/what", text: "Docs" },
]
---

<nav class="container mx-auto h-20 flex justify-between">
	{
		!empty && (
			<>
				<div
					class="prim-logo-container text-prim-space flex items-center"
					data-light="10"
					data-brightness="0.5,1.5"
					data-size="0.5,1.8"
					data-offset="2,4">
					<Prim>RPC</Prim>
				</div>
				<div class="bg-white/70 border-white/70 rounded-bl-xl flex items-center">
					{navigation.map(item => (
						<a
							class="px-6 py-2 h-full font-semibold uppercase text-sm flex justify-center items-center"
							href={item.link}>
							{item.text}
						</a>
					))}
				</div>
			</>
		)
	}
</nav>
