---
import Prim from "@/components/Prim.astro"
import NavigationItem from "./NavigationItem.astro"

interface Props {
	brand?: string
}
const { brand = "RPC" } = Astro.props

const navigation = [
	{ link: "/docs/v0/learn/intro", text: "Docs" },
	{ link: "/cms", text: "CMS" },
	{ link: "https://doseofted.me/", text: "Dose of Ted", icon: "/prim-nav-doseofted-attribution.png" },
	{ link: "https://www.threads.net/@doseofted", text: "Threads", icon: "simple-icons:threads" },
	{ link: "https://github.com/doseofted/prim-rpc", text: "GitHub", icon: "simple-icons:github" },
]
---

<nav class="prim-navigation -mx-4 h-24 flex justify-between">
	<div
		class="prim-logo-container text-prim-space flex items-center mt-8 px-4"
		data-light="10"
		data-brightness="0.5,1.5"
		data-size="0.5,1.8"
		data-offset="2,4">
		<Prim>{brand}</Prim>
	</div>
	<div class="bg-white/70 border-b border-white/70 relative right-[-1px] pr-4 pt-0 rounded-bl-xl flex items-center">
		{navigation.map(item => <NavigationItem {...item} className="hidden lg:flex" />)}
	</div>
</nav>
