<div transition:persist class="tooltip" data-tip="toggle effects">
	<input id="toggleEffects" type="checkbox" class="toggle toggle-sm toggle-secondary opacity-60" />
</div>

<script>
	import { disableScrollEffect } from "@/utils/lenis"
	import { lights } from "@/utils/lights"

	// set input to correct value on page load
	const disableEffects = () => {
		const toggleEffectsElem = document.querySelector<HTMLInputElement>("#toggleEffects")
		toggleEffectsElem?.addEventListener("change", toggleEffects)
		const disabled = sessionStorage.getItem("disable-effects")
		console.log("disableEffects check", disabled)
		if (toggleEffectsElem) toggleEffectsElem.checked = !disabled
	}
	document.addEventListener("astro:page-load", disableEffects, { once: true })
	document.addEventListener("astro:after-swap", disableEffects)

	function toggleEffects(this: HTMLInputElement, event: Event) {
		if (this.checked) {
			// currently, the light effect is enabled on page load
			sessionStorage.removeItem("disable-effects")
			setTimeout(() => location.reload(), 300)
		} else {
			// disable light effect as needed
			sessionStorage.setItem("disable-effects", JSON.stringify(true))
			lights.destroy()
			disableScrollEffect()
		}
	}
</script>
