---
import Prim from "@/components/Prim.astro"

interface Props {
	empty?: boolean
}
const { empty = false } = Astro.props
---

<nav class="container mx-auto h-20 flex justify-between">
	{
		!empty && (
			<>
				<div
					class="text-prim-space flex items-center"
					data-light="15"
					data-brightness="0.5,0.8"
					data-size="0.5,1.8"
					data-offset="2,4">
					<Prim>RPC</Prim>
				</div>
				<div class="bg-white/70 p-4 px-8 flex gap-4 items-center">
					<a href="/tests/single-element">Navigation</a>
					<a href="/what">Docs</a>
				</div>
			</>
		)
	}
</nav>
