---
import Prim from "@/components/Prim.astro"

interface Props {
	empty?: boolean
}
const { empty = false } = Astro.props
---

<nav class="container mx-auto h-20 flex justify-between">
	{
		!empty && (
			<>
				<div class="text-prim-space flex items-center" data-light="10">
					<Prim>RPC</Prim>
				</div>
				<div class="bg-white/70 p-4 px-8 flex gap-4 items-center">
					<a href="/test">Navigation</a>
					<a href="/what">Docs</a>
				</div>
			</>
		)
	}
</nav>
