---
import Layout from "@/layouts/Default.astro"
import { Code } from "astro/components"
import { stripIndent } from "common-tags"

// Capture screenshot using developer tools: "Capture Node Screenshot" with width set to 1200px

const codeTheme = { lang: "typescript", theme: "material-theme-palenight" } as const

const serverCodeSnippet = stripIndent`
export function sayHello(x = "Backend", y = "Frontend") {
	return \`\${x}, meet \${y}.\`
}
sayHello.rpc = true
`

// data-colors="#8DD0FF,#FFFFBE,#FFC9E5,#FFCBB2,#DBFFE5"
---

<Layout fullscreen className="blog-thumbnail">
	<div class="grid place-items-center min-h-[100svh]">
		<div
			class="pointer-events-auto w-full max-w-[1200px] aspect-[4/3] outline outline-white outline-1 outline-offset-1 grid">
			<div class="pointer-events-none screenshot flex flex-col items-center justify-center px-8">
				<div class="homepage-snippets-lights relative">
					<div
						class:list={["absolute w-full h-full transform"]}
						data-light="30"
						data-size="0.2,1.2"
						data-offset="0.5,8"
						data-brightness="0.4,0.7">
					</div>
					<div class="homepage-snippets transform scale-[1.25]">
						<div class="mockup-code text-sm bg-white/70 border border-white/70 pb-4 w-full">
							<div class="px-4">
								<div class="rounded-lg overflow-hidden bg-prim-space site-code-style">
									<Code {...codeTheme} code={serverCodeSnippet} />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
