---
import Aside from "../Markdown/Aside.astro"
---

<Aside type="info">
	<p>
		When used with the server, the Prim+RPC server may make requests to another Prim+RPC instance if a function in
		unavailable locally.
	</p>
</Aside>
