@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	// access CSS variables from javascript
	--safe-area-top: env(safe-area-inset-top);
	--safe-area-right: env(safe-area-inset-right);
	--safe-area-bottom: env(safe-area-inset-bottom);
	--safe-area-left: env(safe-area-inset-left);
}
