---
import type { TableOfContents } from "@/content/config"
interface Props {
	tableOfContents: TableOfContents
}
const { tableOfContents } = Astro.props
const path = Astro.url.pathname
---

<ul
	class="menu menu-sm px-0 space-y-4 flex-nowrap pt-6 pb-4 sticky top-0 max-h-[100svh] overflow-auto"
	data-lenis-prevent>
	{
		tableOfContents.map(({ name, sections }, sectionIndex) => (
			<li class="space-y-2">
				<span class="menu-title !text-black px-0 font-title font-semibold">{name}</span>
				<ul class="content-section ml-0 px-0 !mt-0">
					{sections?.map(({ name, link }, index) => (
						<li>
							<a class={path.startsWith(link ?? "") ? "active text-white" : ""} href={link}>
								{name}
							</a>
						</li>
					))}
				</ul>
			</li>
		))
	}
</ul>
