---
import Button from "./Button.astro"
import ListGrid from "./ListGrid.astro"
import { getCollection } from "astro:content"

interface Props {
	type?: string
	transport?: string
}
const { type: givenType = "all", transport: givenTransport = "all" } = Astro.props

const plugins = await getCollection("plugins")
const pluginsSorted = plugins.sort((a, b) => (a.data.title > b.data.title ? 1 : -1))
---

<ListGrid>
	{
		pluginsSorted
			.filter(plugin => givenType === "all" || plugin.data.type === givenType)
			.filter(plugin => givenTransport === "all" || plugin.data.transport === givenTransport)
			.map(plugin => (
				<Button
					classes="normal-case"
					block
					disabled={plugin.data.status === "planned"}
					href={plugin.data.status === "available" ? `/docs/reference/plugins/${plugin.slug}` : undefined}>
					<span>{[plugin.data.title, plugin.data.status === "planned" ? "(planned)" : ""].join(" ")}</span>
				</Button>
			))
	}
</ListGrid>
