---
interface Props {
	/** "astro" is generally used in components, "rehype" always from mdx (the default) */
	provider?: "astro" | "rehype"
	classOverride?: string
}
const { provider: provider = "rehype", classOverride } = Astro.props
---

<div
	class:list={[
		"bg-prim-space",
		provider === "astro" ? "site-code-style h-full" : "text-sm rounded-b-xl",
		classOverride,
	]}>
	<slot />
</div>

<style is:global>
	.site-code-style .astro-code {
		height: 100%;
	}
</style>
