---
import { Icon } from "astro-icon/components"
import Code from "./Code.astro"

interface Props {
	/** A single filepath, separated by "/" */
	filename?: string
	overrideClass?: string
	/** "astro" is generally used in components, "rehype" always from mdx (the default) */
	codeProvider?: "astro" | "rehype"
}
const { filename, overrideClass, codeProvider = "rehype" } = Astro.props
---

<div class:list={["not-prose flex flex-col rounded-xl w-full overflow-hidden", overrideClass]}>
	{
		filename && (
			<div class="bg-prim-space/90 text-sm breadcrumbs text-white border-b border-white/20 px-5">
				<ul>
					{filename.split("/").map((part, index, parts) => (
						<li class="space-x-2">
							<Icon
								class="w-4 h-4 inline-block"
								name={index !== parts.length - 1 ? "ph:folder-bold" : "ph:file-bold"}
							/>
							<span>{part}</span>
						</li>
					))}
				</ul>
			</div>
		)
	}
	<Code provider={codeProvider} classOverride="flex-grow">
		<slot />
	</Code>
</div>
