---
import Code from "./Code.astro"

interface Props {
	/** A single filepath, separated by "/" */
	filename?: string
	/** A filename/path. The index of the tab item refers to the index of the child pane provided in the slot. */
	tabs?: string[]
	overrideClass?: string
	/** "astro" is generally used in components, "rehype" always from mdx (the default) */
	codeProvider?: "astro" | "rehype"
}
const { filename, tabs = [], overrideClass, codeProvider = "rehype" } = Astro.props
---

<div class:list={["not-prose flex flex-col rounded-xl w-full overflow-hidden", overrideClass]}>
	{
		tabs.length > 0 && (
			<ul class="tabs bg-prim-space/90 text-sm">
				{tabs.map(tab => (
					<li class="tab tab-bordered text-white border-white/30">{tab}</li>
				))}
			</ul>
		)
	}
	<Code provider={codeProvider} classOverride="flex-grow">
		<slot />
	</Code>
</div>

<script>
	import autoAnimate from "@formkit/auto-animate"

	class CodeTabs extends HTMLElement {
		constructor() {
			super()
			let shadowRoot = this.attachShadow({ mode: "open" })
			// shadowRoot.appendChild(tmpl.content.cloneNode(true));
		}
	}
	customElements.define("code-tabs", CodeTabs)
</script>
