<div transition:persist="lights" class="fixed pointer-events-none w-full h-full">
	<canvas id="lights" class="w-full h-full"></canvas>
	<div class="absolute inset-0 w-full h-full backdrop-blur-lg backdrop-saturate-150 bg-transparent"></div>
</div>

<script>
	import { lights, createLightCanvas } from "@/utils/lights"

	createLightCanvas(lights, "#lights")
</script>
