<div class="prerelease-warning col-span-12 bg-warning/40 border-b border-b-warning h-14 text-sm flex">
	<slot />
</div>

<style>
	@keyframes warning {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.prerelease-warning {
		opacity: 0;
		animation-name: warning;
		animation-duration: 1s;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
	}
</style>
