<a href="/" class="group relative">
	<p
		class="font-title text-[2.5rem] lg:text-[3rem] select-none font-normal transition-[font-weight] duration-500 group-hover:font-medium uppercase flex">
		<span>Prim+</span>
		<span class="font-bold transition-[font-weight] delay-100 duration-500 group-hover:font-extrabold">
			<slot />
		</span>
	</p>
</a>
