---
import { Code } from "astro/components"
import Layout from "@/layouts/Default.astro"
import { IntroText } from "@/components/IntroText.react"
import { client } from "@/client"

const greeting = await client.greetings()

const serverCodeSnippet = `
// define on server:
export const sayHello = (x, y) => \`\${x}, meet \${y}.\`
sayHello.rpc = true`

const clientCodeSnippet = `
// call on client:
const hello = await sayHello("Backend", "Frontend")
console.log(hello)`

const snippets = [serverCodeSnippet, clientCodeSnippet].map(snippet => snippet.trim())
---

<Layout>
	<!-- Fancy home introduction -->
	<div class="min-h-[calc(100svh-6.5rem)] grid grid-cols-6 lg:grid-cols-12 grid-rows-[1fr_auto]">
		<div class="col-span-6 lg:col-span-12 flex flex-col gap-8 items-center justify-center">
			{
				snippets.map((snippet, index) => (
					<div
						class:list={index === 0 ? "md:translate-x-16 lg:translate-x-32" : "md:-translate-x-16 lg:-translate-x-32"}>
						<div class="homepage-snippets opacity-0 mockup-code text-sm bg-white/70 pb-4 w-full max-w-lg">
							<div class="px-4">
								<div class="rounded-lg overflow-hidden bg-prim-space code-without-bg">
									<Code code={snippet} lang="typescript" theme="material-theme-palenight" />
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>
		<div class="col-span-6 lg:col-span-12 pb-12">
			<p
				class="font-title text-[2.3rem] sm:text-[3rem] lg:text-[5.5rem] font-semibold text-white uppercase text-right leading-none overflow-hidden">
				<IntroText client:load delay={0.3} stagger={0.9} text={greeting.split("\n")} />
			</p>
		</div>
	</div>
	<!-- Below the fold -->
	<div class="grid grid-cols-6 lg:grid-cols-12 py-8">
		<div class="col-span-12 lg:col-span-6 text-white space-y-4">
			<p class="font-title text-xl sm:text-2xl lg:text-4xl font-semibold uppercase leading-none">
				RPC for the Rest&nbsp;of&nbsp;Us.
			</p>
			<p class="text-sm lg:text-base">
				Prim+RPC bridges incompatible JavaScript environments. Call a JavaScript function on the server remotely as if
				it was defined on the client itself.
			</p>
		</div>
	</div>
</Layout>

<script src="@/utils/lenis"></script>

<script>
	import { animate, stagger } from "motion"

	function introAnimation(start = 1.8) {
		const codeSnippets = document.querySelectorAll(".homepage-snippets")
		animate(
			codeSnippets,
			{
				y: ["3rem", "0rem"],
				x: "auto",
				opacity: [0, 1],
			},
			{ delay: stagger(0.2, { start, from: "last" }), duration: 0.9 }
		)
	}
	document.addEventListener("astro:after-swap", () => introAnimation(0))
	introAnimation()
</script>

<style is:global>
	.code-without-bg pre {
		background-color: transparent !important;
		padding: theme("padding.3") theme("padding.5");
	}

	.mockup-code {
		&::before {
			box-shadow:
				1.4em 0 0 theme("colors.prim.space"),
				2.8em 0 0 theme("colors.prim.space"),
				4.2em 0 0 theme("colors.prim.space") !important;
		}

		pre::before {
			content: none !important;
		}
	}
</style>
