---
import Layout from "@/layouts/Default.astro"
const items = Array.from(Array(60).keys())
---

<Layout fullscreen>
	<div class="w-full h-screen flex justify-center items-center flex-wrap">
		{
			items.map(() => (
				<div
					data-light={1 + Math.floor(Math.random() * 3)}
					class="m-8 text-black z-50 relative w-32 h-32 flex items-center justify-center">
					<p>This is a test only.</p>
				</div>
			))
		}
	</div>

	<!-- <div class="relative w-full h-screen grid place-items-center">
		<div data-light="1">
			<p>hi</p>
		</div>
	</div> -->
</Layout>

<script>
	// const mouse = document.getElementById("mouse") as HTMLElement
	// document.addEventListener("mousemove", e => {
	// 	mouse.style.left = CSS.px(e.x).toString()
	// 	mouse.style.top = CSS.px(e.y).toString()
	// })
</script>
