---
interface Props {
	title: string
	collapseId?: string
}
const { title, collapseId } = Astro.props
---

<div class="collapse collapse-arrow bg-base-200 mt-6">
	<input id={collapseId} type="checkbox" />
	<div class="collapse-title text-xl font-medium">
		{title}
	</div>
	<div class="collapse-content">
		<slot />
	</div>
</div>
