---
interface Props {
	title: string
}
const { title } = Astro.props
---

<div class="collapse collapse-arrow bg-base-200 mt-6">
	<input type="checkbox" />
	<div class="collapse-title text-xl font-medium">
		{title}
	</div>
	<div class="collapse-content">
		<slot />
	</div>
</div>
