---
import { Icon } from "astro-icon/components"
import defu from "defu"
interface Props {
	type?: "slot" | "text" | "boolean" | "link"
	key: string
	value?: string | string[] | boolean | number | { name: string; href: string }[]
	name?: string
	mappings?: Record<"truthy" | "falsey", string>
}
const { key, value, type, name, mappings: mappingsGiven } = Astro.props
const mappings = defu(mappingsGiven, {
	truthy: "Yes",
	falsey: "No",
	link: " Link",
})
const valueAsArray = Array.isArray(value) ? value : [value]
---

<li class="flex flex-col gap-2 text-sm">
	<div class="capitalize font-semibold">{key}</div>
	{
		type === "text" ? (
			<div>{value}</div>
		) : type === "boolean" ? (
			<div class="flex gap-2 items-center">
				<Icon
					name={typeof value === "boolean" ? (value ? "ph:check-circle-bold" : "ph:x-circle-bold") : value}
					class:list={["w-5 h-5", typeof value === "boolean" ? (value ? "text-green-500" : "text-red-500") : ""]}
				/>
				<span>{mappings[value ? "truthy" : "falsey"]}</span>
			</div>
		) : type === "link" ? (
			<div>
				{valueAsArray.map((value, index, { length }) => (
					<>
						<a
							class="hover:underline"
							href={typeof value === "object" ? value.href : undefined}
							target={typeof value === "object" ? (value.href.startsWith("http") ? "_blank" : undefined) : undefined}>
							<span>{typeof value === "object" ? value.name : name}</span>
							{typeof value === "object" && value.href.startsWith("http") && (
								<Icon name="ph:arrow-square-out-bold" class:list="ml-0.5 w-3 h-3 inline-block relative -top-[1px]" />
							)}
						</a>
						{index < length - 1 && ", "}
					</>
				))}
			</div>
		) : (
			<div>
				<slot />
			</div>
		)
	}
</li>
