---
import Collapse from "./Collapse.astro"

interface Props {
	title?: string
	data?: Record<string, string>
}
const { title = "Data", data } = Astro.props
---

<Collapse title={title}>
	<div class="grid grid-cols-3 gap-6 py-4">
		{
			Object.entries(data ?? {}).map(([key, value]) => (
				<div class="flex flex-col gap-2 text-sm">
					<div class="capitalize font-semibold">{key}</div>
					<div>{value}</div>
				</div>
			))
		}
	</div>
</Collapse>
