/* Override DaisyUI code wrapper/window component to match website colors */
.mockup-code {
	&::before {
		box-shadow:
			1.4em 0 0 theme("colors.prim.space"),
			2.8em 0 0 theme("colors.prim.space"),
			4.2em 0 0 theme("colors.prim.space") !important;
	}

	pre::before {
		content: none !important;
	}
}

/* Override Astro's Code component default styles */
.site-code-style pre {
	/* See CodeFile.astro component for reference style */
	@apply text-sm py-3 px-5 rounded-xl !bg-prim-space;
}

[data-rehype-pretty-code-fragment] code {
	@apply bg-prim-space;
}

/* Override default styles (I think mostly applied by DaisyUI?) */
[data-rehype-pretty-code-fragment] pre {
	padding: 0; /* Assign padding to code element instead */
	background-color: transparent !important; /* Assign this from parent element instead. */

	& > code {
		background-color: transparent !important; /* Assign this from parent element instead. */
	}

	[data-highlighted-chars] {
		padding: 0.06rem 0.125rem;
		margin: 0 -0.125rem;
		border: 1.5px solid theme("colors.prim.info");
		background-color: theme("colors.prim.info/0.3");
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
	}

	code {
		counter-reset: line;
	}

	code[data-line-numbers] > [data-line]::before {
		counter-increment: line;
		content: counter(line);

		/* Other styling */
		display: inline-block;
		width: 1rem;
		margin-right: 1rem;
		text-align: right;
		color: theme("colors.gray.600");
	}

	code[data-line-numbers-max-digits="2"] > [data-line]::before {
		width: 2rem;
	}

	code[data-line-numbers-max-digits="3"] > [data-line]::before {
		width: 3rem;
	}

	span[data-highlighted-line] {
		background-color: theme("colors.prim.info/0.3");
		border-left: 2px solid theme("colors.prim.info");
		margin-left: -6px;
		padding-left: 4px;
	}
}
